.full_bg {
  display: none;
  background: rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.maintenance_remix_war a {
	background-color: #f44 !important;
	background-image: -moz-linear-gradient(bottom,#d00,#f44) !important;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#d00),to(#f44)) !important;
}
.format-setting-label {
  border-bottom: 1px solid #DDDCDC;
  padding: 5px 0 0
}
#option-tree-sub-header {
  display: none;
}
#option-tree-settings-api {
  position: relative
}
#option-tree-settings-api .description h3, #option-tree-settings-api .format-setting-label .label, #poststuff .format-setting-label .label {
  font-weight: 700;
}
#option-tree-settings-api .inside {
  padding: 0 20px !important
}
a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav, #side-sortables .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav {
  margin: 2px 0 0 -20px;
  padding: 0 0 0 16px;
}
.ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li a, #side-sortables .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a {
  color: #868686;
}
.wrap.settings-wrap .ui-tabs-nav {
  padding: 0;
  margin: 0 0 0 -1px;
  width: 160px;
}
#option-tree-settings-api > .ui-tabs {
  border: 0;
  -webkit-box-shadow: inset 159px 0 0 #f1f1f1, inset 159px 0 0 #ccc, 0 0 0 rgba(0,0,0,0.05);
  -moz-box-shadow: inset 159px 0 0 #f1f1f1, inset 159px 0 0 #ccc, 0 0 0 rgba(0,0,0,0.05);
  box-shadow: inset 159px 0 0 #f1f1f1, inset 159px 0 0 #ccc, 0 0 0 rgba(0,0,0,0.05);
}
.format-setting-wrap, .option-tree-sortable .format-settings {
  padding: 20px 0 30px 0
}
#option-tree-header {
  margin: 11px 5px 0 161px
}
.wp-picker-holder {
	position: relative !important;
	z-index: 9999999999999999 !important
}
#setting_body_bg_pattern img {
	width: 40px;
	height: 40px
}
i {
	margin: 0 8px 0 0;
	font-size: 16px;
	vertical-align: initial;
}
.vc-license-activation-notice, 
.vc_license-activation-notice, 
#vc_teaser, 
#option-tree-logo, 
#option-tree-version {
	display: none !important
} 
i[class^="ot-"], 
i[class*="ot-"], 
span[class^="ot-"], 
span[class*="ot-"] {
	background-image: none !important;
	background: none !important;
	text-align: center
}
#searchbox {
	margin: 0 0 20px
} 
.type-checkbox .format-setting-inner {
	height: 218px;
	overflow-y: scroll;
	border: 1px solid #ddd;
	padding: 10px 0 0 10px;
	width: 92% !important
}
.maintenance_remix_war a {
	background-color: #f44 !important;
	background-image: -moz-linear-gradient(bottom,#d00,#f44) !important;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#d00),to(#f44)) !important;
} 
#page-ot_theme_options i[class^="ot-"], 
#page-ot_theme_options i[class*="ot-"] {
	font-size: 16px
} 
#section_loader .option-tree-ui-radio-images img {
	/* width:48px !important; */
	height:40px !important
} 
.vc_admin_label label {
	font-weight: 700;
	color: #777
}
.vc_admin_label{
	margin-right: 15px !important;
	margin-bottom: 2px !important
}
#page-ot_theme_options,
#page-import_export {
	margin: 10px 0 0;
	width: 100%;
}
.wrap.settings-wrap .ui-tabs-nav li a {
  background: #23282d;
  color: #fff;
  line-height: 16px;
  padding: 10px 6px 10px 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wrap.settings-wrap .ui-tabs-nav li {
  border-color: #343B42;
  border-right-width: 0px;
  border-left-width: 0px;
  margin: 0 0 -1px;
  border-radius: 0;
}
#option-tree-header li a:hover {
  color: #FFFFFF;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active {
  border-left-width: 1px;
  border-color: #e5e5e5;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i {  
    -webkit-animation:bounce 3s linear infinite;
    -moz-animation:bounce 3s linear infinite;
    animation:bounce 3s linear infinite;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.cog_wpbuilder,
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.back-in-time_wpbuilder,
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.adjust_wpbuilder,
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.globe-1_wpbuilder,
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.play_wpbuilder,
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active i.arrows-ccw_wpbuilder {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
.wrap.settings-wrap .ui-tabs-nav li a:hover {
  font-weight: 700;
  padding: 10px 6px 10px 16px;
  color: #FFFFFF;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active a {
  font-weight: 700;
  padding: 10px 6px 10px 16px;
  color: #000 !important;
  background: #FFF;
}
.type-radio-image .option-tree-ui-radio-images img {
	border: 2px solid #ccc
}
.option-tree-ui-radio-images {
	position:relative;
}
.option-tree-ui-radio-images i {
	display:none;
}
.selected i {
  font-size: 12px !important;
  color: #BDFFBB;
  background: #000;
  background: rgba(0, 0, 0, 0.8) !important;
  border-top-right-radius: 2px;
  position: absolute;
  left: 0;
  padding: 3px;
  bottom: 5px;
  display: block;
  z-index: 999;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.type-radio-image .option-tree-ui-radio-images img {
	max-width: 660px;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.ot-icon-ok {
	font-size: 25px
}
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot?84989860#iefix') format('embedded-opentype'),
       url('font/fontello.svg?84989860#fontello') format('svg'),
       url('font/fontello.woff') format('woff'),
       url('font/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class$="_wpbuilder"]:before, [class*="_wpbuilder "]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.cog_wpbuilder:before { content: '\e800'; } /* '' */
.globe_wpbuilder:before { content: '\e801'; } /* '' */
.tick_wpbuilder:before { content: '\e802'; } /* '' */
.layout_wpbuilder:before { content: '\e803'; } /* '' */
.preloader_wpbuilder:before { content: '\e804'; } /* '' */
.scroll_wpbuilder:before { content: '\e805'; } /* '' */
.header_wpbuilder:before { content: '\e806'; } /* '' */
.shop_wpbuilder:before { content: '\e807'; } /* '' */
.achar_wpbuilder:before { content: '\e808'; } /* '' */
.twitter_wpbuilder:before { content: '\e809'; } /* '' */
.blog_wpbuilder:before { content: '\e80a'; } /* '' */
.artists_wpbuilder:before { content: '\e80b'; } /* '' */
.music_wpbuilder:before { content: '\e80c'; } /* '' */
.play_wpbuilder:before { content: '\e80d'; } /* '' */
.photo_wpbuilder:before { content: '\e80e'; } /* '' */
.tag_wpbuilder:before { content: '\e80f'; } /* '' */
.basket_wpbuilder:before { content: '\e810'; } /* '' */
.typography_wpbuilder:before { content: '\e811'; } /* '' */
.color_b_wpbuilder:before { content: '\e812'; } /* '' */
.sidebar_wpbuilder:before { content: '\e813'; } /* '' */
.b_wpbuilder:before { content: '\e814'; } /* '' */
.search_wpbuilder:before { content: '\e815'; } /* '' */
.mobile_wpbuilder:before { content: '\e816'; } /* '' */
.maintenance_wpbuilder:before { content: '\e817'; } /* '' */
.color_wpbuilder:before { content: '\e818'; } /* '' */
.like_wpbuilder:before { content: '\e819'; } /* '' */
.lifebuoy_wpbuilder:before { content: '\e81a'; } /* '' */
.ticket_wpbuilder:before { content: '\e81b'; } /* '' */
.twitter-o_wpbuilder:before { content: '\e81c'; } /* '' */
.facebook_wpbuilder:before { content: '\e81d'; } /* '' */
.facebook-o_wpbuilder:before { content: '\e81e'; } /* '' */
.share_wpbuilder:before { content: '\e81f'; } /* '' */
.cog_b_wpbuilder:before { content: '\e820'; } /* '' */
.picture_wpbuilder:before { content: '\e821'; } /* '' */
.video_wpbuilder:before { content: '\e822'; } /* '' */
.users_wpbuilder:before { content: '\e823'; } /* '' */
.check_wpbuilder:before { content: '\e824'; } /* '' */
.ok_wpbuilder:before { content: '\e825'; } /* '' */
.newspaper_wpbuilder:before { content: '\e826'; } /* '' */
.book_wpbuilder:before { content: '\e827'; } /* '' */
.vcard_wpbuilder:before { content: '\e828'; } /* '' */
.user-add_wpbuilder:before { content: '\e829'; } /* '' */
.cancel_wpbuilder:before { content: '\e82a'; } /* '' */
.lock_wpbuilder:before { content: '\e82b'; } /* '' */
.link_wpbuilder:before { content: '\e82c'; } /* '' */
.help-circled_wpbuilder:before { content: '\e82d'; } /* '' */
.heart-empty_wpbuilder:before { content: '\e82e'; } /* '' */
.heart_wpbuilder:before { content: '\e82f'; } /* '' */
.shareable_wpbuilder:before { content: '\e830'; } /* '' */
.publish_wpbuilder:before { content: '\e831'; } /* '' */
.adjust_wpbuilder:before { content: '\e832'; } /* '' */
.right-dir_wpbuilder:before { content: '\e833'; } /* '' */
.globe-1_wpbuilder:before { content: '\e834'; } /* '' */
.cc-nc_wpbuilder:before { content: '\e835'; } /* '' */
.arrows-ccw_wpbuilder:before { content: '\e836'; } /* '' */
.doc-text_wpbuilder:before { content: '\e837'; } /* '' */
.doc-text-inv_wpbuilder:before { content: '\e838'; } /* '' */
.keyboard_wpbuilder:before { content: '\e839'; } /* '' */
.basket-1_wpbuilder:before { content: '\e83a'; } /* '' */
.bag_wpbuilder:before { content: '\e83b'; } /* '' */
.tools_wpbuilder:before { content: '\e83c'; } /* '' */
.mobile-1_wpbuilder:before { content: '\e83d'; } /* '' */
.archive_wpbuilder:before { content: '\e83e'; } /* '' */
.lamp_wpbuilder:before { content: '\e83f'; } /* '' */
.block_wpbuilder:before { content: '\e840'; } /* '' */
.arrow-combo_wpbuilder:before { content: '\e841'; } /* '' */
.back-in-time_wpbuilder:before { content: '\e842'; } /* '' */

#option-tree-header li, 
#option-tree-header li i {
  font-size: 12px
}
#option-tree-header li i {
	padding: 0 4px 0 0;
	margin: 0
}
.spinner {
  margin: 5px auto 0 8px;
  width: 35px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  display: block;
  background: none;
  opacity: 1;
  visibility: visible;
}
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 5px;
  margin: 0 1px 0 0;
  display: inline-block;
  -webkit-animation: stretchdelay .7s infinite ease-in-out;
  animation: stretchdelay .7s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.s_message, 
.e_message {
  display: none;
  position: fixed;
  line-height: 28px;
  width: 400px;
  top: 50%;
  left: 50%;
  z-index: 999999999;
  margin: 0;
  -webkit-animation: lr 0.7s;
  animation: lr 0.7s
}
.ui-tabs-panel{
  -webkit-animation: lrs 0.4s;
  animation: lrs 0.4s
}
.inner_sm {
  text-align: center;
  background: rgb(203, 255, 203);
  border-radius: 3px;
  padding: 40px 10px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgb(209, 247, 209);
  color: rgb(82, 123, 82);
  box-shadow: 0 0 20px rgb(212, 250, 212);
}
.inner_em {
  text-align: center;
  background: rgb(255, 239, 239);
  border-radius: 3px;
  padding: 40px 10px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgb(247, 209, 209);
  color: rgb(123, 82, 82);
  box-shadow: 0 0 20px rgb(250, 212, 212);
}
@-webkit-keyframes lr {
  0% {opacity: 0;-webkit-transform: translateY(-60px);}
  100% {opacity: 1;-webkit-transform: translateY(0);}
}
@keyframes lr {
  0% {opacity: 0;transform: translateY(-60px);}
  100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes lrs {
  0% {opacity: 0.2;-webkit-transform: translateX(-30px);}
  100% {opacity: 1;-webkit-transform: translateX(0);}
}
@keyframes lrs {
  0% {opacity: 0.2;transform: translateX(-30px);}
  100% {opacity: 1;transform: translateX(0);}
}
.option-tree-ui-buttons {
  position: initial;
}
.save_btn {
  position: absolute;
  top: 15px;
  right: 38px;
}
#option-tree-settings-api .button-primary.focus, 
#option-tree-settings-api .button-primary:focus {
  border-color: #00A6FF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sec_message{
  position:relative;
  display: none;
  text-align: center;
  background: rgb(232, 255, 232);
  border-radius: 3px;
  line-height: 40px;
  padding: 6px 10px;
  margin: 0 10px 0 0;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid rgb(209, 247, 209);
  color: rgb(118, 157, 118);
  box-shadow: none;
}
.sec_message:after{
  content: no-close-quote;
  position: absolute;
  width: 0;
  height: 0;
  right: -7px;
  top: 30%;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgb(209, 250, 209);
}
input.option-tree-ui-upload-input, input.option-tree-ui-input {
  width: 98% !important;
}
.option-tree-ui-button.right, 
.option-tree-ui-button.button-secondary {
  float: right;
  background: rgb(73, 199, 94);
  padding: 8px 16px;
  cursor: pointer;
  color:#fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 2px;
} 
.option-tree-ui-button.button-secondary {
  float: none;
  background: #b73b27;
}
.option-tree-ui-button.right:hover,
.option-tree-ui-button.right:focus {
  background: rgb(70, 190, 90) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
.option-tree-ui-button.button-secondary:hover,
.option-tree-ui-button.button-secondary:focus {
  background: #B52E18;
}
.on-off-switch .slide-button {
  background: rgb(113, 232, 133);
  border: 1px solid rgb(98, 203, 116);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  height: 24px;
  top: -3px;
  width: 24px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.on-off-switch input:last-of-type:checked ~ .slide-button {
  background: #DD4949;
  border-color: #C84242;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.on-off-switch {
  background-color: #fff;
  border: 1px solid #D3D3D3;
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: normal;
  height: 18px;
  margin: 2px 1px;
  position: relative;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 48px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.on-off-switch label {
  cursor: pointer;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  z-index: 2;
  opacity: 0;
}
.on-off-switch input[type=checkbox], 
.on-off-switch input[type=radio] {
  border: 1px solid #bbb;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 0;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 0;
  min-width: 16px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}
#option-tree-header li a {
  color: #DDD
}
#option-tree-header {
  background: #23282d
}
#option-tree-settings-api .button-primary {
  border-color: initial;
  -webkit-box-shadow: none;
  box-shadow: none
}
.type-radio input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
  display: none
}
.type-radio label {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin-right: -1px;
  border: 1px solid #D3D3D3;
  padding: 4px 8px !important;
  font-size: 12px;
  transition: all .2s ease-out
}
.type-radio p:first-child label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.type-radio p:last-child label {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.type-radio input[type="radio"]:checked + label,
.type-radio input[type="radio"]:checked + label:before {
  background-color: #58ba83;
  background-color: rgb(73, 199, 94);
  color: white;
  border-color: rgb(73, 199, 94);
}
.type-radio p {
  width: auto !important
}
.type-radio i {
  margin: 0 !important;
  font-size: 14px !important
}
.type-radio input[type="radio"]:checked + label.wpbuilder_False, 
.type-radio input[type="radio"]:checked + label.wpbuilder_Disable, 
.type-radio input[type="radio"]:checked + label.wpbuilder_None {
  background-color: #BA3D3D !important;
  border-color: #BA3D3D !important
}
label.fa {
	font-size: 0;
}
label.fa:before {
	font-size: 18px
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../styles/font/fontawesome-webfont.eot?v=4.3');
  src: url('../../styles/font/fontawesome-webfont.eot?#iefix&v=4.3') format('embedded-opentype'), 
  url('../../styles/font/fontawesome-webfont.woff?v=4.3') format('woff'), 
  url('../../styles/font/fontawesome-webfont.ttf?v=4.3') format('truetype'), 
  url('../../styles/font/fontawesome-webfont.svg?v=4.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
