//=======================================================================

// Account Menu
//=======================================================================*/

.logout-menu{
	box-sizing: border-box;
	font-size: 14px;
	color: @white;
	background: @red;
	display: block;
	float: left;
	padding: 0 12px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	position: relative;
	.transition(background 0.25s);

	//---- media
	@media screen{
		@media (max-width: 1100px){ 
			height: 72px; 
			line-height: 20px;
			font-weight: 100;
		}
	}
	//---- end media 

	&:before{ 
		content: ""; 
		//---- media
		@media screen{
			@media (max-width: 1100px){ margin-bottom: 0; }
		}
		//---- end media 
	}

	&:after{
		.svg(menu-down);
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		width: 12px;
		height: 6px;
		position: relative;
		top: -1px;

		//---- media
		@media screen{
			@media (max-width: 1100px){ display: none; }
		}
		//---- end media 
	}

	a{ color: currentColor; }

	*{ box-sizing: border-box; }

	//Dropdown
	//--------------------------------
	.sub-menu{
		display: none;
		position: absolute;
		right: 0;
		top: 45px;
		background: @red;
		z-index: 1000;
		width: 348px;

		//---- media
		@media screen{
			@media (max-width: 1100px){ 
				top: 72px;
				right: -70px;
				line-height: 30px;
				font-weight: normal;
			}

			@media(max-width: 700px){ max-width: 100vw; }
		}
		//---- end media 

		li{
			padding: 0.5rem 1rem;

			&:not(:last-child){ 
				border-bottom: 1px solid fade(@white, 50%); 
				.svg(arrow-right);
				background-position: 95% center;
				.transition(background 0.25s);

				&:hover{ background-color: @blue;}
			}

			//logout button
			&:last-child{
				padding: 1rem;

				a{
					.svg(logout);
					display: block;
					background-color: @purple;
					background-position: 95% center;
					border-radius: 4px;
					width: 100%;
					text-transform: uppercase;
					letter-spacing: 1.2px;
					padding: 0 1rem;
					.transition(background-color 0.25s);

					//---- media
					@media screen{
						@media (max-width: 1100px){ line-height: 45px; }
					}
					//---- end media 
	
					&:hover{ background-color: @blue; }
				}//end a
			}
		}//end li

		a{ font-size: 18px;}
	}

	//open dropdown
	&:hover{
		.sub-menu{
			display: block;
			.sticky &{ display: none; }
		}
	}//end hover
}

