//=======================================================================

// Mixins
//=======================================================================*/

//SVG bg's
//========================================
.svg(@filename){
	@png: ~"../images/@{filename}.png";
	@svg: ~"../images/@{filename}.svg";
	background-image: url(@png);
	background-image: url(@svg), none;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}


//Clearfix
.clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

//Flexbox additions
//========================================
.flex-box{
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -moz-flex;
	 display: -ms-flexbox;
	 display: -o-flex;
	 display: flex;
}

.flex-wrap(@wrap){
	-webkit-flex-wrap:@wrap;
	flex-wrap:@wrap; 
}
.flex-basis(@basis){
	-webkit-flex-basis: @basis;
	flex-basis:	@basis;
}
.align-items(@align){
	-webkit-align-items: @align;
	align-items: @align;
}

.flex-d(@d){
	-webkit-flex-direction: @d;
	   -moz-flex-direction: @d;
	    -ms-flex-direction: @d;
	        flex-direction: @d;
	
}
.flex-r(@fr){
	-webkit-flex-flow: @fr;
	   -moz-flex-flow: @fr;
	    -ms-flex-flow: @fr;
	        flex-flow: @fr;
}

