//=======================================================================

// Less styles
//=======================================================================*/

@import 'lesshat.less';
@import 'variables.less';
@import 'mixins.less';
@import 'results.less';
@import 'account-menu.less';

//Account form
.page-template-page-login-update,
.page-template-page-login{

	//---- media
	@media screen{
		@media (max-width: 1100px){
			.page-accent{
				.box-sizing(border-box);
				padding: 1rem;
			}

			.page-accent-title{ 
				line-height: 45px;
			}

			.login-section{
				.box-sizing(border-box)!important;
				padding: 1rem!important;
			}
		}

		@media (max-width: 768px){ 
			.page-accent-title{
				font-size: 30px;
				line-height: 36px;
			} 

			.right.logos{
				text-align: center;
				margin-top: 1rem;
				padding-top: 1rem;
				border-top: 1px solid darken(@lgrey, 10%);

				img{ 
					display: inline-block;
					&:last-child{ margin-left: 1rem; }
				}
			}
		}//end 768
	}
	//---- end media 

}

.page-template-page-login-update{
	.login-section{
		legend{
			font-size: 30px;
			font-family: @gobold;
			text-transform: uppercase;
			color: @black;
			line-height: 40px;
		}

		.right{
			//---- media
			@media screen{
				@media (max-width: 768px){ 
					margin-top: 1rem;
				}
			}
			//---- end media 

		}
	}//login sec

	.form-success{
		display: block;
		width: 97%;
		padding: 1rem;
		background: @blue;
		border-radius: 4px;
		margin-bottom: 2rem;
		color: @white;
		text-transform: uppercase;
		text-align: center;
	}
}


//Newsletter fix
.newsletter-btn{
	//---- media
	@media screen{
		@media (max-width: 400px){ 
			max-width: 135px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	//---- end media 
}

//Intro block for login forms
.intro-block{
	padding: 0 0.6rem;
	margin-bottom: 2rem;
}


//Login
.intro-block a.link{
	color: @red;
	&:hover{ color: @blue; }
}