//=======================================================================

// Results
//=======================================================================*/


//Main wrapper
//================================================
.result-table-wrapper{
	*{ box-sizing: border-box; }
	box-sizing: border-box;
    display: block;
    width: 99%;
    margin: 3rem 0;

    //header
    //--------------------------------------------
    .result-header{
    	width: 100%;
    	height: 92px;
    	background: @blue;

    	//---- media
		@media screen{
			@media (max-width: 750px){ display: none; }
		}
		//---- end media 

    	//ul list
    	&-inner{
    		max-width: 750px;
    		margin: auto;

    		&:after{
    			content:"";
    			display: table;
    			clear: both;
    		}


    		//---- media
    		@media screen{
    			@media (max-width: 1100px){ max-width: 650px; }
    			@media (max-width: 1000px){ max-width: 550px; }
    		}
    		//---- end media 
    	}

    	//individual steps
    	li{
    		float: left;
    		width: 100% / 7;
    		text-align: center;
    		color: @white;
    		padding: 10px 0;
    		
            //---- media
            @media screen{
                @media (max-width: 1100px){ 
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
            }
            //---- end media 
                
    		span{
    			
    			white-space: nowrap;
    			
    			//---- media
	    		@media screen{
	    			@media (max-width: 1100px){ font-size: 14px; }
	    		}
	    		//---- end media 
    		}

    	}//li

    	.result-step-number{
    		display: block;
    		width: 40px;
    		height: 40px;
    		border-radius: 100%;
    		background: @white;
    		color: @grey;
    		font-size: 24px;
    		margin: 0.2rem auto 0.5rem;
    		line-height: 40px;
    	}

    }//end header



    //Results
    //============================================
    .result-rows{

    	.result-row{
    		display: block;
    		width: 100%;
    		height: 92px;

    		.clearfix;

    		&:nth-child(even){ background: @lgrey; }

    		//---- media
    		@media screen{
    			@media (max-width: 750px){ 
    				background: @lgrey; 
    				height: auto;
    				margin-bottom: 2rem;
    				padding: 1rem;
    			}
    		}
    		//---- end media 

    		> *{
    			.flex-box;
    			.align-items(center);
    			float: left;
    			height: 100%;

    			//---- media
	    		@media screen{
	    			@media (max-width: 750px){ display: block; }
	    		}
	    		//---- end media 
    		}

    		> div{ 
    			width: calc(~'(100% - 750px) / 2'); 
    			//---- media
	    		@media screen{
	    			@media (max-width: 1100px){ width: calc(~'(100% - 650px) / 2'); }
	    			@media (max-width: 1000px){ width: calc(~'(100% - 550px) / 2'); }
	    			@media (max-width: 750px){ width: 100%; }
	    		}
	    		//---- end media 
    		}

    	}//end result row


    	//dates
    	.result-date{
    		padding-left: 1rem;
    		font-family: @gobold;
    		font-size: 24px;
    		text-transform: uppercase;

    		//---- media
    		@media screen{
    			@media (max-width: 1100px){ font-size: 20px; }
    			@media (max-width: 900px){ font-size: 18px; }
    			@media (max-width: 750px){ 
    				font-size: 24px; 
    				margin-bottom: 1rem;
    				padding-left: 0;
    				text-align: right;
    				color: @red;

    				br{ display: none; }
    			}
    		}
    		//---- end media 
    	}

    	//Results mid section / icons
    	.results{
    		.clearfix;
    		width: 100%;
    		max-width: 750px;
    		margin: auto;
    		// width: calc(~"100% - 750px");
    		
    		//---- media
    		@media screen{
    			@media (max-width: 1100px){ max-width: 650px; }
    			@media (max-width: 1000px){ max-width: 550px; }
    			@media (max-width: 750px){ 
    				max-width: 100%; 
    			}
    		}
    		//---- end media 
    	}

    	//icons
    	li{
    		display: block;
    		float: left;
    		width: 100% / 7;
    		position: relative;
    		height: 40px;

    		&:not(.null):after{
    			content: "";
    			display: block;
    			position: absolute;
    			top: 0;
    			left: 0;
    			right: 0;
    			bottom: 0;
    			margin: auto;
	    		width: 40px;
	    		height: 40px;
	    		border-radius: 100%;
    		}
    		
    		&.fail{ .svg(r-fail); }
	    	&.pass{ .svg(r-pass); }
	    	&.average{ .svg(r-av); }
    	}

    	.null{ 
    		position: relative;
    		&:after{
    			content: "-";
    			display: block;
    			position: absolute;
    			top: 0;
    			left: 0;
    			right: 0;
    			bottom: 0;
    			margin: auto;
    			font-size: 24px;
    			font-family: @gobold;
    			color: lighten(@black, 15%);
    			text-align: center;

    			//---- media
	    		@media screen{
	    			@media (max-width: 750px){ 
	    				left: auto;
	    				right: 1rem;
	    			}
	    		}
	    		//---- end media 
    		}
    	}//null


    	//Psuedo step names for mobile
	    li{

	    	//---- media
			@media screen{
				@media (max-width: 750px){ 
					width: 100%;
					height: 55px;
					padding-top: 0.4rem;
    				background-position: right top!important;
    				margin-bottom: 1rem;
					border-bottom: 1px solid darken(@lgrey, 10%);

					&:before{
						display: inline-block;
						vertical-align: middle;	
						font-size: 21px;
						font-family: @gobold;
						color: @black;
						text-transform: uppercase;
						text-align: left;
					}

					&.access:before{ content:"access"; }
					&.attitude:before{ content:"attitude"; }
					&.choice:before{ content:"choice"; }
					&.partnerships:before{ content:"partnerships"; }
					&.communication:before{ content:"communication"; }
					&.policy:before{ content:"policy"; }
					&.opportunities:before{ content:"opportunities"; }

				}//750
			}
			//---- end media 
		}//end li



    	//Score
    	//------------------------------
    	.result-score{
    		padding-left: 1rem;
    		font-size: 24px;
    		font-family: @gobold;

    		//---- media
    		@media screen{
    			@media (max-width: 1100px){ font-size: 20px; }
    			@media (max-width: 900px){ font-size: 18px; }
    			@media (max-width: 800px){ padding-left: 0; }
    			@media (max-width: 750px){
    				font-size: 24px;
    				text-align: right;

    				h3:before{
    					content:"Score: ";
    					display: inline-block;
    					vertical-align: top;
    					color: @red;
    					text-transform: uppercase;
    					margin-right: 1rem;
    				}
    			}
    		}
    		//---- end media 
    	}

    	.btn-score{
    		font-size: 18px;
    		padding: 7px 8px;
    		text-align: center;
    		background-color: @purple;

    		&:hover{ background-color: @blue; }

    		//---- media
    		@media screen{
    			@media (max-width: 1100px){ font-size: 16px; }
    			@media (max-width: 750px){ display: block; padding: 1rem; font-size: 20px;}
    		}
    		//---- end media 
    	}

    }//end result rows


     //footer
    //--------------------------------------------
    

}//end wrapper


//if incomplete
.result-incomplete{
	> *{ box-sizing: border-box; }
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 2rem;
	text-align: center;
	background: @lgrey;
	margin: 2rem 0;

	h2{
		font-size: 40px;
		line-height: 58px;

		a{ 
			color: @purple;
			.transition(background 0.25s);
			&:hover{ color: @blue; } 
		}
	}

	.site-btn{
		margin-top: 2rem;
		width: 100%;
		max-width: 540px;
		text-transform: uppercase;
	}
}


//Actual pillar pages
.seven-pillars-accent{
	.site-btn{
		display: inline-block;
		max-width: 48%;
		font-size: 21px;
		padding: 10px 20px;
		text-align: center;
		margin-bottom: 1rem;
	}
}