//=======================================================================

// Variables
//=======================================================================*/

//Colours
//=============================================
@white: 				#fff;
@lgrey:					#efede9;
@grey:					#9d9da3;
@black:					#000;

@red:					#f16261;
@blue:					#7bccc5;
@purple:				#74358b;


//Elements
//-----------------------------------
@primary:				@blue;
@secondary:				@red;


//Fonts
//=============================================
@gobold:			 'gobold_thinregular', helvetica, arial, sans-serif;
@goboldmed:			 'gobold_boldregular', helvetica, arial, sans-serif;
@roboto:			 'Roboto', helvetica, arial, sans-serif;
